/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  color: darkgreen;
  text-decoration: none;
  
}

a:hover {
  color: rgb(18, 2, 121, 0.5);
  transition: all 0.4s;
}

/* Section Styles */

.mainNav {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0px;
  text-align: center;
  z-index: 100;
  transition: background 0.5s;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  
}
.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  list-style-type: none;
  align-items: flex-end;
}

.menu-icon {
  display: none;
  padding: 4px;
  max-height: 100%;
  width: 32px;
  height: 32px;
  border-radius: 15%;
  background: whitesmoke;
}

.name {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2rem;
  display: block;
  margin-right: auto;
  color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;

}

.nav-link {
  font-family: 'Staatliches', cursive;
  font-size: 1.7rem;
  text-decoration: none;
  color: whitesmoke;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: rgb(214, 218, 22);
}

.side-bar{
  height: auto;
  max-height: 70vh;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  z-index: 99;
  position: fixed;
  
  transition: 0.7s ease;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  justify-content: space-between;
  
}

.slide-link {
  font-family: 'Staatliches', cursive;
  font-size: 1.7rem;
  text-decoration: none;
  color: whitesmoke;
  margin-bottom: 5vh;
}

.slide-link:hover {
  color: rgb(214, 218, 22)
}

/* Header area*/

.page-header {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 40%;
  border: 3px solid whitesmoke;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}

/* footer Area */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

.copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


/* social Links*/
.social-div {
  display: block;
  position: fixed;
  bottom: 2vh;
  width: 100%;
  margin: 0 auto;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.instagram {
  background-image: url(../images/instagram.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.codepen {
  background-image: url(../images/codepen.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


/* ===============================================
         Home Page Styling 
=================================================*/

.home {
  background: url('../images/header\ sunrise.jpg') no-repeat top center;
  background-size: cover;
}

.home-intro {
  max-width: 60%;
  font-weight: bold;
  margin: 50px auto;
}

.header-intro {
  margin-left: 2vw;
  color: whitesmoke;
  text-align: left;
}

.sub-header {
  font-style: italic;
  font-weight: bold;
}

.home-welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 60vw;
  margin: 50vh auto;
  align-items: center;
}

.hire-me-button {
  height: 6vh;
  width: 30vw;
  font-size: 1.5rem;
  border-radius: 10px;
  color:  whitesmoke;
  background-color: darkblue;
}

.action-call {
  font-style: italic;
  font-size: 1.5rem;
}




/* ===============================================
         Project Page Styling 
=================================================*/


.project-card-grid {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  row-gap: 2vh;
  max-width: 60%;
  margin: 10vh auto;
}

.projects {
  background: url('../images/codeHeader.jpg');
  background-size: cover;
  height: 50vh;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.project-card {
  position: relative;
}

.project-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  margin: 0 auto
}

.project-card:hover .project-overlay {
  bottom: 0;
  height: 100%;
}

.overlay-contents {
  height: auto;
  width: auto;
  margin: 15% auto;
}

.project-description {
  margin: 0 auto;
  color: whitesmoke;
  font-size: 1.5vw;
  width: 80%;
}

.project-link {
  color: gold;
  font-size: 1.3rem;
  text-decoration: none;
}

.project-link:hover {
  color:whitesmoke;
  text-decoration: none;
}

.project-link:hover::before{
  content: '< ';
  color: green;
}
.project-link:hover::after {
  content: ' />';
  color: green;
}

.project-page-header {
  width: 80%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;

}

/* ===============================================
         Contact Page Styling 
=================================================*/

.contact {
  background-image: url('../images/handshake.jpg');
  background-size: cover;
  height: 70vh;
}

/* ===============================================
         Responsive media queries 
=================================================*/


@media screen and (max-width: 1025px) {
  
  
  .nav-bar {
    width: 100%;
  }
  .header-intro {
    margin-left: 2vw;
    color: whitesmoke;
    text-align: center;
  }

  .home-welcome {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 50vw;
    justify-items: center;
    
  }

  .profile-image {
    max-height: 100%;
    width: auto;
    height: 40vh;
    
  }

  .overlay-contents {
    margin: 0 auto;
  }

  .project-description {
    font-size: 2vw;
  }

  .project-link {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px){

  .home-welcome {
    margin-left: 2vw;
  }
  .nav {
    display: none;
  }
  .menu-icon{
    display: block;
    margin-right: 10%;
  }
  
  
}

@media screen and (max-width: 600px) {

  
  .name {
    margin: 0 auto;
  }
  .home-header {
    font-size: 1.5rem;
  }
  .sub-header {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 481px){

  .profile-image {
    height: 20vh;
  }
  .name {
    font-size: 1.5rem;
  }
}