/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  color: darkgreen;
  text-decoration: none;
  
}

a:hover {
  color: rgb(18, 2, 121, 0.5);
  transition: all 0.4s;
}

/* Section Styles */

.mainNav {
  width: 100%;
  
  padding: 10px;
  position: fixed;
  top: 0px;
  text-align: center;
  z-index: 1000;
  transition: background 0.5s;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  
}


.name {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2rem;
  display: block;
  margin-right: auto;
  color: white;

}
.nav li {
  padding: 5px 10px 10px 10px;

}

.nav-link {
  font-family: 'Staatliches', cursive;
  font-size: 1.7rem;
  text-decoration: none;
  color: whitesmoke;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: rgb(6, 9, 143);
}


/* Header area*/


header {
  text-align: center;
  background: url('../images/header\ sunrise.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.header-content {
  display: flex;
  align-items: center;
}
.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 40%;
  border: 3px solid whitesmoke;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.card {
  margin: 0 auto;
  padding: 20px 40px 40px;
  max-width: 500px;
  height: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 8px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #064bd4;
}

.card-title{
  text-align: center;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.instagram {
  background-image: url(../images/instagram.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.codepen {
  background-image: url(../images/codepen.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


/* ===============================================
         Home Page Styling 
=================================================*/

.home-intro {
  max-width: 60%;
  font-weight: bold;
  margin: 50px auto;
}

.header-intro {
  margin-left: 2vw;
  color: whitesmoke;
  text-align: left;
}

.sub-header {
  font-style: italic;
  font-weight: bold;
}

.home-welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 60vw;
  margin: 0 auto;
  align-items: center;
}

.hire-me-button {
  height: 6vh;
  width: 30vw;
  font-size: 1.5rem;
  border-radius: 10px;
  color:  whitesmoke;
  background-color: darkblue;
}

.action-call {
  font-style: italic;
  font-size: 1.5rem;
}




/* ===============================================
         Project Page Styling 
=================================================*/

.project-header{
  background: url('../images/codeHeader.jpg');
}

.project-tag {
  background-color: #efefef;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.project-tagline {
  background-color: whitesmoke;
  color: darkgreen;
}

.card-image{
  max-width: 100%;
  max-height: 50%;
  padding: 5px;
}

.project-link a {
  color: #064bd4;
  font-size: 0.7em;
}

.project-link a:hover {
  text-decoration: underline;
  text-decoration-color: green;
}

.project-link a:hover::before{
  content: '< ';
  color: green;
}
.project-link a:hover::after {
  content: ' />';
  color: green;
}

.project-code a{
  color: #064bd4;


}

/* ===============================================
         Responsive media queries 
=================================================*/


@media screen and (max-width: 1025px) {

  .header-intro {
    margin-left: 2vw;
    color: whitesmoke;
    text-align: center;
  }

  .home-welcome {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 50vw;
    justify-items: center;
    
  }

  .profile-image {
    max-height: 100%;
    width: auto;
    height: 40vh;
    
  }
}
@media screen and (max-width: 768px){

  .nav-link {
    display: none;
  }
  .home-welcome {
    margin-left: 2vw;
    margin-top: 20vh;
  }
}

@media screen and (max-width: 481px){

  .profile-image {
    height: 30vh;
  }
    
  }
}